<div class="container mt-4 mb-4">
  <ng-container *ngIf="!(pokemonLoading$ | async); else placeHolder">
    <div class="row">
      <div class="col-lg-2" *ngFor="let pokemon of (pokemonList$ | async)">
        <app-card-pokemon
          [id]="pokemon.id"
          [name]="pokemon.name"
          [type]="pokemon.types[0].type.name"
          [image]="pokemon.sprites.other.dream_world.front_default || pokemon.sprites.front_default"
          (searchPokemon)="searchPokemonById($event)"
        ></app-card-pokemon>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <app-pagination
          [totalRows]="(pokemonPaging$ | async).count"
          [rowsPerPage]="paging.limit"
          (emitOffset)="setPaging($event)"
        ></app-pagination>
      </div>
    </div>
  </ng-container>

  <ng-template #placeHolder>
    <app-placeholder [type]="1"></app-placeholder>
  </ng-template>
</div>

<app-modal
  [width]="640"
  [classType]="'white'"
  [isActive]="openPokemon"
  (closeModal)="closeModalPokemon($event)">
  <ng-container content>
    <app-pokemon-detail 
      [loadingPokemon]="pokemonByIdLoading$ | async"
      [pokemon]="pokemon$ | async"
    ></app-pokemon-detail>
  </ng-container>
</app-modal>
