@use 'abstracts/variables';
@use 'abstracts/breakpoints';

@use 'base/colors';
@use 'base/typography';
@use 'base/toastr';

@use 'abstracts/mixins' as mixin;

body {
  @include mixin.scroll(false, 6px, var(--gray-12));
}

.table {
  thead {
    th {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
  td,
  th {
    border-top: 0px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.btn-primary {
  @include mixin.btn-primary();
  &:hover {
    background-color: var(--red-2);
  }
}

.btn-secondary {
  @include mixin.btn-primary(var(--blue-1));
  &:hover {
    background-color: var(--gray-2);
  }
}

.title {
  font-family: var(--bold-font);
  font-size: var(--f-24);
}

.sub-title {
  font-family: var(--normal-font);
  font-size: var(--f-20);
}