@use "abstracts/mixins" as mixin;

.progress-circle {
  @include mixin.flex();
  width: 100px;
  height: 100px;
  border-radius: var(--border-radius-50);
  background: var(--white);
  margin: 0 auto;
  .overlay {
    width: 80px;
    height: 80px;
    margin: auto;
    padding-top: 30%;
    border-radius: var(--border-radius-50);
    background: var(--white);
    text-align: center;
    font-family: var(--bold-font);
  }
}

.progress-purple-90 {
  background-image: -webkit-linear-gradient(
      left,
      var(--purple-2) 50%,
      transparent 50%
    ),
    -webkit-linear-gradient(144deg, var(--purple-2) 50%, var(--gray-6) 50%);
  background-image: linear-gradient(90deg, var(--purple-2) 50%, transparent 50%),
    linear-gradient(-54deg, var(--purple-2) 50%, var(--gray-6) 50%);
}

.progress-green-90 {
  background-image: -webkit-linear-gradient(
      left,
      var(--green) 50%,
      transparent 50%
    ),
    -webkit-linear-gradient(144deg, var(--green) 50%, var(--gray-6) 50%);
  background-image: linear-gradient(90deg, var(--green) 50%, transparent 50%),
    linear-gradient(-54deg, var(--green) 50%, var(--gray-6) 50%);
}

.progress-red-90 {
  background-image: -webkit-linear-gradient(
      left,
      var(--red) 50%,
      transparent 50%
    ),
    -webkit-linear-gradient(144deg, var(--red) 50%, var(--gray-6) 50%);
  background-image: linear-gradient(90deg, var(--red) 50%, transparent 50%),
    linear-gradient(-54deg, var(--red) 50%, var(--gray-6) 50%);
}

.subtitle {
  font-family: var(--bold-font);
}

.project {
  border-radius: var(--border-radius-12);
  overflow: hidden;
  flex-shrink: 0;
  background: var(--gray-8);
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .project-detail {
    position: relative;
    margin: 20px 40px;
    margin-top: -40px;
    padding: 20px;
    text-align: center;
    background-color: var(--white);
    .project-title {
      font-family: var(--bold-font);
      font-size: var(--f-18);
    }
    .project-description {
      text-align: left;
      font-family: var(--normal-font);
      font-size: var(--f-16);
    }
    .project-actions {
      @include mixin.flex(center, space-between);
      .project-url {
        border: 1px solid;
        padding: 5px 20px;
        text-decoration: none;
        color: var(--blue-3);
        border-radius: var(--border-radius-4);
        @include mixin.animate();
        &.repository {
          color: var(--red);
          &:hover {
            background-color: var(--red);
            color: var(--white);
          }
        }
        &:hover {
          background-color: var(--blue-3);
          color: var(--white);
        }
      }
    }
  }
}
