:root {
  --gray-1: #332927;
  --gray-2: #f4f4f4;
  --gray-3: #8c8b8b;
  --gray-4: #b8b4b4;
  --gray-5: #eeeeee;
  --gray-6: #dddddd;
  --gray-7: #f2f2f4;
  --white: #ffffff;
  --white-1: #f9f9f8;
  --white-2: #e5e5e4;
  --white-3: #eeeded;
  --purple: #8841da;
  --blue: #3f579a;
  --black: #000000;
  --transparent: #ffffff00;
  --white_rgb: 255, 255, 255;
  --black-1_rgb: 85, 82, 82;
  --gray-1_rgb: 51, 41, 39;
  --gray-2_rgb: 244, 244, 244;
  --gray-3_rgb: 184, 180, 180;
  --brown-1_rgb: 128,98,96;
}
